*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Konga Next Shadow';
    src: url(./../../assests/fonts/konga/Konga\ Next\ Shadow.otf);
}

@font-face {
    font-family: 'Konga Next';
    src: url(./../../assests/fonts/konga/Konga\ Next.otf);
}

@font-face {
    font-family: 'TheMix SemiBold';
    src: url(./../../assests/fonts/theMix/TheMixSemiBold.otf);
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.pointer{
    cursor: pointer;
}

.flex-wrap{
    flex-wrap: wrap;
}

.themix-semibold{
    font-family: 'TheMix SemiBold';
    color: white;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    list-style-type: none;
}